* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main {
    width: 100%;
    height: 100vh;
    background-color: #97E8A4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    background: rgba(255, 255, 255, .3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    margin: 5px;

}
h1 {
    text-align: center;
    margin-top: 15px;
}
label {
    margin-top: 10px;
}
input{
    padding: 10px 20px ;
    font-size: 18px;
    background: rgba(255, 255, 255, .4);
    border-color: rgba(255, 255, 255, .5);
    margin: 10px;
}
button {
    background-color: lightgreen;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    cursor: pointer;
}
button:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: all 300ms ease;
}
#bmi {
    margin: 15px;
}
#condition {
    margin: 5px 15px;
}